<section id={{id}} class="card">   
    <div class="card-body">
      <h3>{{blog_title}} Posted on: {{format_date updatedAt}} by {{user.username}}</h3>
      <p>{{blog_body}}</p>
    </div>
</section>