    <div id={{id}} class="dbpost">
      <textarea id={{append_titleid id}} rows="2" cols="30">{{blog_title}}</textarea>
      <p>Posted on: {{format_date updatedAt}} by {{user.username}}</p>
      <textarea id={{append_bodyid id}} rows="5" cols="30">{{blog_body}}</textarea>
        <button class="btndbedit dashboard-edit" onclick="editPost(this.parentNode.id)">Edit</button>
        <button class="btndbdel dashboard-delete" onclick="deletePost(this.parentNode.id)">Delete</button>
    </div>