<section id={{id}} class="card">   
    <div class="card-body">
      <h3>{{blog_title}} Posted on:{{format_date updatedAt}} by {{username}}</h3>
      <p>{{blog_body}}</p>
      <div>
        <button class="btn-no-style">Edit</button>
        <button class="btn-no-style">Delete</button>
      </div>
    </div>
</section>